*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

:root {
	font-size: 10px;
}

img {
	max-width: 100%;
	display: block;
}

nav {
	display: none;
}

a:link,
a:visited {
	color: hsl(210, 31%, 20%);
}
/* SHARED STYLES */
.hero__title,
.brands__title,
.design__title,
.brands__btn,
.testimonials__title,
.testimonials__name {
	font-family: "Fraunces", sans-serif;
}

.brands__para,
.design__para,
.testimonials__para,
.testimonials__position {
	font-family: "Barlow", sans-serif;
	font-size: 1.8rem;
}

.brands,
.hero,
.design,
.testimonials__title,
.testimonials__para,
.testimonials__name,
.testimonials__position {
	text-align: center;
}
/* HEADER SECTION STYLES */
.header {
	position: relative;
}

.header__logo {
	position: absolute;
	top: 0;
	margin: 2em 0 2em 2em;
}

/* HERO SECTION STYLES */
.hero {
	position: absolute;
	top: 20%;
	text-transform: uppercase;
	color: hsl(0, 0%, 100%);
	font-size: 1.8rem;
	line-height: 1.5;
}

.hero__title {
	width: 70%;
	margin: 1em auto;
	font-weight: 900;
	letter-spacing: 0.2em;
}

.hero__arrow {
	width: 3.5rem;
	margin: 3em auto;
}

/* BRANDS SECTION STYLES */
.brands,
.testimonials {
	background-color: hsl(26, 100%, 99%);
}

.brands__info {
	margin: 0 auto;
	padding-bottom: 3.5em;
}

.brands__title {
	font-size: 3.5rem;
	font-weight: 900;
	color: hsl(210, 31%, 20%);
	padding-top: 5rem;
	width: 80%;
	margin: 0 auto;
}

.brands__para {
	color: hsl(240, 4%, 53%);
	line-height: 1.5;
	font-weight: 600;
	margin: 2em auto;
	width: 83%;
}

.brands__btn {
	text-transform: uppercase;
	background: none;
	border: none;
	padding-bottom: 3em;
	font-weight: 900;
	font-size: 1.5rem;
}

.brands__link {
	text-decoration: none;
}

.brands__link--yellow {
	box-shadow: 0px 12px 9px 0px hsl(51, 100%, 49%);
}

.brands__link--redish {
	box-shadow: 0px 12px 9px 0px hsl(7, 99%, 70%);
}

.row {
	display: flex;
	flex-direction: column-reverse;
}
/*GRAPHIC DESIGN SECTION*/
.design__component {
	position: relative;
}

.design__info {
	position: absolute;
	top: 65%;
}

.design__title {
	font-size: 2.8rem;
	font-weight: 900;
	color: hsl(169, 43%, 23%);
}

.design__para {
	font-size: 1.8rem;
	color: hsl(167, 40%, 24%);
	line-height: 1.5;
	width: 95%;
	margin: 1.8em auto 0;
	font-weight: 600;
}

.design__para--blue,
.design__title--blue {
	color: hsl(198, 62%, 26%);
}

.testimonials {
	padding-bottom: 6em;
}

.testimonials__title {
	padding-top: 3em;
	color: hsl(220, 2%, 64%);
	font-size: 1.8em;
	text-transform: uppercase;
	letter-spacing: 0.3rem;
}

.testimonials__image,
.testimonials__para {
	margin: 0 auto;
}

.testimonials__image {
	border-radius: 50%;
	width: 20%;
	margin-top: 5.5em;
}

.testimonials__para {
	width: 87%;
	color: hsl(213, 9%, 39%);
	font-weight: 600;
	line-height: 1.6;
	font-size: 1.8em;
	margin-top: 2em;
}

.testimonials__name {
	font-size: 1.6rem;
	font-weight: 900;
	color: hsl(212, 27%, 19%);
	margin-top: 1.5em;
}

.testimonials__position {
	margin-top: 1em;
	font-size: 1.2em;
	color: hsl(0, 0%, 69%);
	font-weight: 600;
}

/*GALLERY SECTION STYLES*/
.gallery__row {
	display: flex;
}



.attribution {
	font-size: 11px;
	text-align: center;
}

.attribution a {
	color: hsl(228, 45%, 44%);
}
