*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

:root {
	font-size: 10px;
}

img {
	max-width: 100%;
	display: block;
}

.header__nav {
	display: none;
}

a:link,
a:visited {
	color: hsl(210, 31%, 20%);
	text-decoration: none;
}

ul:hover {
	cursor: pointer;
}
/* SHARED STYLES */
.hero__title,
.brands__title,
.design__title,
.brands__btn,
.testimonials__title,
.testimonials__name {
	font-family: "Fraunces", sans-serif;
}

.brands__para,
.design__para,
.testimonials__para,
.testimonials__position,
.footer__title,
.footer__navitems,
.attribution__designer,
.attribution__programmer {
	font-family: "Barlow", sans-serif;
	font-size: 1.8rem;
}

.brands,
.hero,
.design,
.testimonials__title,
.testimonials__para,
.testimonials__name,
.testimonials__position,
.footer__title {
	text-align: center;
}
/* HEADER SECTION STYLES */
.header {
	position: relative;
}

.header__logo {
	position: absolute;
	top: 0;
	margin: 2em 0 2em 2em;
}

/* HERO SECTION STYLES */

.hero__wrapper {
	position: absolute;
	text-transform: uppercase;
	color: hsl(0, 0%, 100%);
	font-size: 1.8rem;
	line-height: 1.5;
	left: 50%;
	bottom: 32%;
	transform: translate(-50%, -50%);
}

.hero__title {
	width: 100%;
	/* margin: 0 auto; */
	font-weight: 900;
	letter-spacing: 0.2em;
}

.hero__arrow {
	width: 3.5rem;
	margin: 3em auto 0;
}

/* BRANDS SECTION STYLES */
.brands,
.testimonials {
	background-color: hsl(26, 100%, 99%);
}

.brands__info {
	margin: 0 auto;
	padding-bottom: 3.5em;
}

.brands__title {
	font-size: 3.5rem;
	font-weight: 900;
	color: hsl(210, 31%, 20%);
	padding-top: 5rem;
	width: 85%;
	margin: 0 auto;
}

.brands__para {
	color: hsl(240, 4%, 53%);
	line-height: 1.5;
	font-weight: 600;
	margin: 2em auto;
	width: 76%;
	max-width: 370px;
}

.brands__btn {
	text-transform: uppercase;
	background: none;
	border: none;
	padding-bottom: 3em;
	font-weight: 900;
	font-size: 1.5rem;
}

.brands__link {
	text-decoration: none;
}

.brands__link--yellow {
	box-shadow: 0px 12px 9px 0px hsl(51, 100%, 49%);
}

.brands__link--redish {
	box-shadow: 0px 12px 9px 0px hsl(7, 99%, 70%);
}

/*GRAPHIC DESIGN SECTION*/
.design__component {
	position: relative;
}

.design__info {
	position: absolute;
	top: 80%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.design__title {
	font-size: 2.5rem;
	font-weight: 900;
	color: hsl(169, 43%, 23%);
}

.design__para {
	font-size: 1.6rem;
	color: hsl(167, 40%, 24%);
	line-height: 1.5;
	width: 35rem;
	margin-top: 1.2em;
	font-weight: 600;
	padding: 0 2em;
}

.design__para--blue,
.design__title--blue {
	color: hsl(198, 62%, 26%);
}
/*TESTIMONIALS SECTION STYLES*/
.testimonials {
	padding-bottom: 6.5em;
}

.testimonials__title {
	padding-top: 3em;
	color: hsl(220, 2%, 64%);
	font-size: 1.5em;
	text-transform: uppercase;
	letter-spacing: 0.3rem;
}

.testimonials__image,
.testimonials__para {
	margin: 0 auto;
}

.testimonials__image {
	border-radius: 50%;
	width: 20%;
	margin-top: 5.5em;
}

.testimonials__para {
	width: 75%;
	color: hsl(213, 9%, 39%);
	font-weight: 600;
	line-height: 1.6;
	font-size: 1.5em;
	margin-top: 2em;
	max-width: 30rem;
}

.testimonials__name {
	font-size: 1.6rem;
	font-weight: 900;
	color: hsl(212, 27%, 19%);
	margin-top: 1.5em;
}

.testimonials__position {
	margin-top: 1em;
	font-size: 1.2em;
	color: hsl(0, 0%, 69%);
	font-weight: 600;
}

/*GALLERY SECTION STYLES*/
.gallery__row {
	display: flex;
}

/*FOOTER SECTION STYLES*/
.footer {
	background-color: hsl(167, 44%, 70%);
	padding: 5em 0 8.5em;
}

.footer__title {
	font-size: 3.5rem;
	font-weight: 600;
	color: hsl(166, 43%, 33%);
}

.footer__navlist {
	display: flex;
	font-size: 1.8rem;
	list-style: none;
	width: 25rem;
	justify-content: space-between;
	margin-top: 2em;
	margin: 2em auto 0;
}

.footer__navitems {
	color: hsl(166, 34%, 41%);
	font-weight: 600;
}

.footer__social {
	display: flex;
	justify-content: space-between;
	width: 15rem;
	margin: 9.5em auto 0;
}

.footer__social:hover {
	cursor: pointer;
}

/*ATTRIBUTION SECTION STYLES*/

.attribution {
	font-size: 1.1rem;
	text-align: center;
	margin-bottom: 1em;
}

.attribution a {
	color: #595959;
}

.attribution a:hover {
	color: #190eb8;
}

.attribution__designer,
.attribution__programmer {
	font-size: 1.2rem;
	margin-top: 1em;
}

@media only screen and (min-width: 700px) {
	.container {
		max-width: 1440px;
		margin: 0 auto;
	}
	.brands__transform__row,
	.brands__standout__row,
	.design__row,
	.testimonials__row {
		display: flex;
	}
	.brands__transform__row {
		flex-direction: row-reverse;
	}

	.testimonials {
		padding: 6em 0 14em 0;
	}

	.testimonials__row {
		justify-content: center;
	}

	.testimonials__para {
		width: 100%;
	}

	.testimonials__card + .testimonials__card {
		margin-left: 3em;
	}

	.brands__image,
	.brands__info {
		flex-basis: 50%;
	}

	.brands__info,
	.brands__para,
	.brands__title {
		margin: 0;
		padding: 0;
		text-align: left;
	}

	.brands__para {
		max-width: 100%;
		margin-bottom: 2em;
	}

	.brands__info {
		display: flex;
		align-items: center;
	}

	.brands__wrapper {
		width: 85%;
		margin: 0 auto;
	}

	.brands__title {
		margin-bottom: 1em;
	}

	.design__component {
		flex-basis: 50%;
	}
}
