:root {
  font-size: 10px;

  --gap: 2rem;
  --font-primary: 'Barlow', sans-serif;
  --font-secondary: 'Fraunces', sans-serif;
  --clr-soft-red: 7 99% 70%;
  --clr-yellow: 51 100% 49%;
  --clr-dark-desaturated-cyan: 167 40% 24%;
  --clr-dark-blue: 198 62% 26%;
  --clr-moderate-cyan: 168 34% 41%;
  --clr-dark-desaturated-blue: 212 27% 19%;
  --clr-dark-grayish-blue: 232 10% 55%;
  --clr-very-dark-grayish-blue: 213 9% 39%;
  --clr-grayish-blue: 210 4% 67%;
  --clr-white: 0 0% 100%;

  color: hsl(7, 99%, 70%);
  color: hsl(51, 100%, 49%);
  color: hsl(167, 40%, 24%);
  color: hsl(198, 62%, 26%);
  color: hsl(168, 34%, 41%);

  color: hsl(212, 27%, 19%);
  color: hsl(213, 9%, 39%);
  color: hsl(232, 10%, 55%);
  color: hsl(210, 4%, 67%);
  color: hsl(0, 0%, 100%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  line-height: 1.5;

  font-family: var(--font-primary);
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* UTILITY CLASSES */

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.flex-col {
  flex-direction: column;
}

.flex-grow {
  flex: 1;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

.container {
  width: min(100%, 144rem);
  margin-inline: auto;
}

.center {
  margin-inline: auto;
}

.cursor-pointer {
  cursor: pointer;
}

/* NAVBAR SECTION */

.header {
  &__wrapper {
    position: absolute;
    top: 4%;
    right: 0;
    left: 0;
    z-index: 2;

    padding-inline: 3em;
  }

  &__logo {
    width: 15rem;
  }

  &__nav {
    display: none;
    position: relative;

    @media (min-width: 900px) {
      display: block;
    }

    @media (max-width: 45em) {
      &::before {
        position: absolute;
        top: -14%;
        left: 91%;

        content: '';
        width: 60px;
        height: 50px;
        background: hsl(var(--clr-white));
        clip-path: polygon(50% 0%, 0 100%, 50% 100%);
      }

      position: fixed;
      width: 33rem;
      min-height: 30rem;

      top: 13%;
      left: 50%;

      background-color: hsl(var(--clr-white));
      backdrop-filter: blur(10px);

      transform: translateX(-50%);
    }
  }

  ul {
    @media (max-width: 45em) {
      --gap: 3.5rem;

      flex-direction: column;
      padding-block: 4rem;
    }

    list-style-type: none;
    text-decoration: none;
  }

  li {
    @media (max-width: 45em) {
      color: hsl(var(--clr-very-dark-grayish-blue));
    }

    font-size: 1.8rem;
  }

  button {
    border: 0;
    border-radius: 100vmax;
    padding-inline: 2.75rem;
    padding-block: 1.35rem;

    font-size: 1.6rem;
    font-family: var(--font-secondary);
    text-transform: uppercase;

    background: hsl(var(--clr-yellow));
    transition: all 50ms ease-in-out;

    &:hover {
      background: hsl(var(--clr-white) / 0.4);
      backdrop-filter: blur(5px);
      color: hsl(var(--clr-white));
    }

    @media (min-width: 700px) {
      background: hsl(var(--clr-white));
    }
  }

  &__menu {
    @media (min-width: 900px) {
      display: none;
    }
  }

  &__nav--open {
    display: block;
  }
}

/* HERO SECTION */

.hero {
  &__wrapper {
    position: absolute;
    top: 10%;
    left: 50%;

    margin-top: 2.4em;

    font-family: var(--font-secondary);
    text-transform: uppercase;
    font-size: 1.8rem;

    color: hsl(var(--clr-white));
    line-height: 1.5;
    transform: translateX(-50%);

    @media (min-width: 756px) {
      margin-top: 0;
    }
    @media (min-width: 900px) {
      margin-top: 7em;
    }
  }

  &__title {
    font-size: 3.5rem;
    font-weight: 900;
    text-align: center;

    @media (min-width: 700px) {
      font-size: 4rem;
      letter-spacing: 0.1em;
    }
  }

  &__arrow {
    margin-top: 3em;
    animation: moveArrow 3s infinite;

    @media (min-width: 756px) {
      width: 2.5rem;
    }

    @media (min-width: 900px) {
      width: 2.5rem;
      margin-top: 5.5em;
    }
  }
}

/* BRANDS SECTION */

.brands {
  background-color: hsl(26, 100%, 99%);

  &__container {
    max-width: 144rem;
  }

  &__transform,
  &__standout {
    --gap: 0;

    align-items: center;

    @media (min-width: 900px) {
      text-align: left;
    }
  }

  &__transform {
    @media (min-width: 756px) {
      flex-direction: row-reverse;
    }
  }

  &__standout {
    @media (min-width: 756px) {
      flex-direction: row;
    }
  }

  &__image,
  &__info {
    @media (min-width: 756px) {
      width: 50%;
    }
  }

  &__info {
    @media (max-width: 756px) {
      padding-block: 7em;
      padding-inline: 2.5em;
    }
  }

  &__wrapper {
    @media (max-width: 756px) {
      --gap: 3rem;
    }

    @media (min-width: 756px) {
      --gap: 2rem;
      padding: 2.5rem 3rem;
    }

    @media (min-width: 1000px) {
      --gap: 3rem;
      padding-inline: 10rem;
    }
  }

  &__title,
  &__para {
    @media (min-width: 756px) {
      text-align: left;
    }
  }

  &__title {
    font-family: var(--font-secondary);
    font-size: 3.5rem;
    font-weight: 900;

    color: hsl(var(--clr-dark-desaturated-blue));
    line-height: 1;

    @media (min-width: 756px) {
      font-size: 2.5rem;
    }

    @media (min-width: 1100px) {
      width: 80%;
      font-size: 3.5rem;
    }
  }

  &__para {
    line-height: 1.5;
    font-weight: 600;
    font-size: 1.8rem;

    max-width: 370px;
    color: hsl(var(--clr-dark-grayish-blue));

    @media (min-width: 756px) {
      max-width: 450px;
      margin-inline: unset;
    }
  }

  &__link {
    font-size: 1.6rem;
    font-family: var(--font-secondary);
    font-weight: 900;

    text-transform: uppercase;
    text-decoration: none;

    color: hsl(var(--clr-dark-desaturated-blue));
    background-color: transparent;

    @media (min-width: 756px) {
      margin-inline: unset;
      width: 14rem;
    }
  }

  &__link--yellow {
    box-shadow: 0px 10px 9px -5px hsl(var(--clr-yellow));
  }

  &__link--redish {
    box-shadow: 0px 10px 9px -5px hsl(var(--clr-soft-red));
  }
}

/* DESIGN SECTION */

.design {
  &__wrapper {
    --gap: 0;

    @media (min-width: 700px) {
      flex-direction: row;
    }
  }

  &__component {
    position: relative;
  }

  &__info {
    position: absolute;
    top: 80%;
    left: 50%;

    width: 100%;
    padding: 0 2em;
    transform: translate(-50%, -50%);
  }

  &__title {
    font-family: var(--font-secondary);
    font-size: 2.5rem;
    font-weight: 900;
    color: hsl(var(--clr-dark-desaturated-cyan));
  }

  &__para {
    font-size: 1.6rem;
    font-weight: 600;
    color: hsl(var(--clr-dark-desaturated-cyan));
    line-height: 1.5;

    margin-top: 1.2em;
    max-width: 40ch;

    @media (min-width: 756px) {
      padding-bottom: 2.5rem;
    }

    @media (min-width: 900px) {
      padding-bottom: 0;
    }
  }

  &__para--blue,
  &__title--blue {
    color: hsl(var(--clr-dark-blue));
  }
}

/*TESTIMONIALS SECTION */

.testimonials {
  padding-block: 5em;

  &__row {
    --gap: 5.5em;

    padding-block: 6em;

    @media (min-width: 950px) {
      flex-direction: row;
    }
  }

  &__card {
    --gap: 4em;

    padding-top: 2em;
  }

  &__title {
    font-family: var(--font-secondary);
    font-size: 1.6em;
    color: hsl(var(--clr-grayish-blue));

    text-transform: uppercase;
    letter-spacing: 0.3rem;
  }

  &__image {
    border-radius: 50%;
    width: 20%;
  }

  &__para {
    font-weight: 600;
    font-size: 1.7em;
    color: hsl(var(--clr-very-dark-grayish-blue));

    line-height: 1.6;
    max-width: 31rem;
  }

  &__info {
    --gap: 1em;
  }

  &__name {
    font-size: 1.7rem;
    font-family: var(--font-secondary);
    font-weight: 900;

    color: hsl(var(--clr-dark-desaturated-blue));
  }

  &__position {
    font-size: 1.45em;
    font-family: var(--font-primary);
    font-weight: 600;

    color: hsl(var(--clr-grayish-blue));
  }
}

/* GALLERY SECTION STYLES */
.gallery {
  &__row {
    --gap: 0;

    flex-wrap: wrap;
  }

  &__column {
    width: 50%;

    @media (min-width: 757px) {
      width: 25%;
    }
  }
}

/* FOOTER SECTION STYLES */
.footer {
  background-color: hsl(167, 44%, 70%);
  padding: 5em 0 8.5em;
}

.footer__title {
  font-size: 3.5rem;
  font-weight: 600;
  color: hsl(var(--clr-dark-desaturated-cyan));
}

.footer__navlist {
  display: flex;
  font-size: 1.8rem;
  list-style: none;
  width: 25rem;
  justify-content: space-between;
  margin-top: 2em;
  margin: 2em auto 0;
}

.footer__navitems {
  color: hsl(166, 34%, 41%);
  font-weight: 600;
}

.footer__social {
  display: flex;
  justify-content: space-between;
  width: 15rem;
  margin: 9.5em auto 0;
}

.footer__social:hover {
  cursor: pointer;
}

// a:link,
// a:visited {
//   color: hsl(210, 31%, 20%);
//   text-decoration: none;
// }

// /*ATTRIBUTION SECTION STYLES*/

// .attribution {
//   font-size: 1.1rem;
//   text-align: center;
//   margin-bottom: 1em;
// }

// .attribution a {
//   color: #595959;
// }

// .attribution a:hover {
//   color: #190eb8;
// }

// .attribution__designer,
// .attribution__programmer {
//   font-size: 1.2rem;
//   margin-top: 1em;
// }

@keyframes moveArrow {
  50% {
    transform: translateY(-15px) scale(1.05);
  }
}
